{% extends "base.html" %}

{% block content %}
    <body class="bg-secondary">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <div class="container-fluid">
            <div class="card text-center bg-primary mb-2">
                <div class="card-body">
                    <h1 class="mt-1 mb-4">Simple Blog</h1>
                </div>
            </div>
            <div class="row">
                {% if posts %}
                {% for post in posts %}
                <div class="col-12 col-md-4 col-sm-6 mt-2 mb-6">
                    <div class="card pb-4 bg-dark text-white">
                        <img class="img-fluid rounded" src="https://picsum.photos/id/1/300/200" alt="sorry">
                        <div class="card-body">
                            <h2>{{post.title}}</h2>
                            
                            <p>{{post.content }}</p>
                            <a href="{% url "detail" %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                

                {% else %}
                    <p>No Posts Are Available</p>
                {% endif %}
            </div>
        </div>
        
    </body>
{% endblock content %}
